@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";

h1 {
  color: rgb(236, 214, 100);
  //background-image: url('../img/dog.jpg');
}
@mixin img {
  width: 100%;
  height: auto;
  background-size: cover
}
img {
  @include img();
  object-fit: cover
}